<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/5.3/components/navbar/
-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Nome</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav justify-content-between w-100">
				<li class="nav-item">
					<a class="nav-link" href="/sobre">Sobre nós</a>
				</li>
				<li class="nav-item my-1 my-lg-0">
					<a class="nav-link botao1" href="/criarTreino">+ Criar um Treino</a>
				</li>
				<li class="nav-item my-1 my-lg-0">
					<a class="nav-link botao1" href="/treinos">Procurar Treinos</a>
				</li>
				<li class="nav-item my-1 my-lg-0">
					<a class="nav-link botao1" href="/meusTreinos">Meus Treinos</a>
				</li>
				<li class="nav-item">
					<span class="cor-login-cadastro"> Faça <a class="formatar-login-cadastro cor-login-cadastro" href="/login">login</a> ou <a class="formatar-login-cadastro cor-login-cadastro" href="/cadastro">cadastre-se</a> </span> 
					<i class="bi bi-person-circle cor-login-cadastro"></i>
				</li>
			</ul>
		</div>
	</div>
</nav>
