img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
	text-align: center;
	color: #a844fc;
}

.rodape {
	text-align: center;
	padding: 2rem;
	border-top: 2px solid #a844fc
}

.link-rodape, .link-rodape:hover {
	color: #969696;
	text-decoration: none;
}

.navbar {
	background-color: white !important;
	border-bottom: 2px solid #a844fc !important;
}

.navbar-brand {
	color: #a844fc;
}

.nav-link {
	color: #a844fc;
}


.botao1{
	color: white;
	background-color:#a844fc;
	border-radius: 20px;
	padding: 5px;
	text-decoration: none;
	
}
.formatar-login-cadastro {
	text-decoration: none;
	font-weight: bold;
}

.cor-login-cadastro {
	color: #a844fc;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.text-primary {
    color: #a844fc !important;
}

.border {
    border-color:  #a844fc ;
}

.fundo-branco {
    background-color: #ffffff ;
}

.font-weight-bold {
    font-weight: 700;
}

.cor-texto-sobre {
	color: black;
}

.custom-box {
	border: 2px solid #a844fc; 
	padding: 15px;
	border-radius: 5px;
}
.custom-title {
	color: #a844fc; 
	font-weight: bold !important;
	text-align: center;
}
