<div class="container-fluid">

	<h1 class="titulo">
		Criar Treino
	</h1>

	<div class="row">
		<div class="col-md-3">
			<div class="mb-3">
				<label class="form-label" for="nome">Nome do Treino</label>
				<input maxlength="50" id="nome" class="input-custom" />
			</div>
		</div>
		<div class="col-md-3">
			<div class="mb-3">
				<label class="form-label" for="descricao_breve">Descrição Breve</label>
				<input maxlength="150" id="descricao_breve" class="input-custom" />
			</div>
		</div>
		<div class="col-md-3">
			<div class="mb-3">
				<label class="form-label" for="idtipo">Tipo</label>
				<select id="idtipo" class="input-custom">
					<option value="1">Calistenia</option>
					<option value="2">Musculação</option>
					<option value="3">Alongamento</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="mb-3">
				<label class="form-label" for="imagem">Imagem</label>
				<select id="imagem" class="input-custom">
					<option value="1">Imagem 1</option>
					<option value="2">Imagem 2</option>
				</select>
			</div>
		</div>
	</div>

	<div class="mb-3">
		<label class="form-label" for="descricao_completa">Descrição Completa</label>
		<div id="descricao_completa"></div>
	</div>

	<div class="mb-3">
		<button type="button" class="botao-cadastro-login d-block" onclick="criarTreino()">Criar Treino</button>
	</div>

</div>

<script type="text/javascript" src="/public/js/ckeditor/ckeditor.js"></script>

<script>

	CKEDITOR.replace("descricao_completa");

	async function criarTreino() {
		let inputNome = document.getElementById("nome");
		let inputDescricao_breve = document.getElementById("descricao_breve");
		let inputIdtipo = document.getElementById("idtipo");
		let inputImagem = document.getElementById("imagem");

		let nome = inputNome.value;
		let descricao_breve = inputDescricao_breve.value;
		let idtipo = inputIdtipo.value;
		let imagem = inputImagem.value;
		let descricao_completa = CKEDITOR.instances.descricao_completa.getData();

		if (!nome) {
			alert("Nome inválido!")
		}

		if (!descricao_breve) {
			alert("Descrição breve inválida!")
		}

		if (!descricao_completa) {
			alert("Descrição completa inválida!")
		}

		else{
			let treino = {
				nome: nome,
				descricao_breve: descricao_breve,
				idtipo: idtipo,
				imagem: imagem,
				descricao_completa: descricao_completa
			};

			try {
				let response = await fetch("/criar", {
					method: "POST",
					body: JSON.stringify(treino),
					headers: {
						"content-type": "application/json"
					}
				});

				if (!response.ok) {
					Swal.fire("Erro", "Ocorreu um erro ao criar o treino", "error");
					return;
				}

				inputNome.value = "";
				inputDescricao_breve.value = "";
				CKEDITOR.instances.descricao_completa.setData("");

				Swal.fire("Sucesso!", "Treino criado com sucesso!", "success");
			} catch (ex) {
				Swal.fire("Erro", "Ocorreu um erro de rede ao criar o treino: " + ex.message, "error");
			}
		}
	}

</script>
