<style>

	.seg-tit {
		font-size: 1.8em;
		color: #a844fc;
	}

	.Lets-fit {
		font-size: 4em;
		color: #a844fc;
		font-weight: bold;
		animation: glow 1.5s ease-in-out infinite alternate;
	}

	.objective-box {
		border: 2px solid #a844fc;
		border-radius: 15px;
		padding: 20px;
		background-color: #ffffff;
		transition: transform 0.3s;
		font-size: 1.2em;
		min-height: 100%;
	}
	.objective-box:hover {
		transform: scale(1.05);
	}

	.tit-caixas {
		font-size: 1.5em;
		color: #a844fc;
		font-weight: bold;
		margin-bottom: 15px;
	}
	.text-caixas {
		font-size: 1em;
		color: #333;
		margin-bottom: 15px;
	}

	.img {
		width: 50%;
		height: auto;
		border-radius: 10px;
		margin-bottom: 10px;
	}

	
	.imagem1 {
		background-image: url('public/img/imgindexprincipal.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

</style>

<div class="imagem1">
	<h1 class="Lets-fit">Let's Fit</h1>
</div>

<div class="container-fluid">

	<h2 class="seg-tit">Encontre o treino ideal para você</h2>

	<div class="row">
		<div class="col-md-4 pb-3">
			<div class="objective-box">
				<h3 class="tit-caixas">Nossos Objetivos</h3>
				<p class="text-caixas">Promover bem-estar e motivar pessoas a desenvolverem seus próprios treinos e evoluírem no seu próprio ritmo.</p>
			</div>
		</div>
		<div class="col-md-4 pb-3">
			<div class="objective-box">
				<h3 class="tit-caixas">Por que usar Let's Fit?</h3>
				<p class="text-caixas">Uma plataforma que permite explorar, personalizar e compartilhar treinos, conectando você a uma comunidade focada em saúde.</p>
			</div>
		</div>
		<div class="col-md-4 pb-3">
			<div class="objective-box">
				<h3 class="tit-caixas">Opções de Planos</h3>
				<p class="text-caixas">Escolha entre opções gratuitas e premium para atender suas necessidades de treino e monitoramento de progresso.</p>
			</div>
		</div>
	</div>
	<img src="public\img\jonh.PNG" class="img">

	<a class="nav-link botao1" href="/vejaMais">Veja mais</a>
	
</div>
