
<style>
	.input-custom {
		width: 250px; /* ajuste conforme necessário */ 
		padding: 5px;
		border: 2px solid #ddd;
		border-radius: 20px;
		outline: none;
		font-size: 12px;
		color: #aaa;
	  }
	
	  /* Cor da borda ao focar */
	  .input-custom:focus {
		border-color: #ccc;
	  }
	
	  /* Placeholder */
	  .input-custom::placeholder {
		color: #ddd;
	  }
	
	.padding-div {
		padding: 12px 0px 0px 0px;
	}

	.botao2 {
		color: white;
		background-color:#a844fc;
		border: 2px solid;
		padding: 5px;
		border-radius: 20px;
		width: 200px;
		font-size: 15px;
		text-decoration: none;
		outline: none;
		font-weight: bold;
	}

	.titulo-login {
		font-weight: bold;
		padding: 15px 0px 3px 0px;
		font-size: 30px;
	}

	.formatar-p {
		font-size: 10px;
		color: gray;
		font-weight: bold;
	}
    .centro{
        text-align: center;
    }
	
</style>


<div class="container-fluid centro">

    <h1 class="titulo-login">
        Login
    </h1>

    <div class="row padding-div">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <input type="email" class="input-custom" placeholder="Email">
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div class="row padding-div">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <input type="text" class="input-custom" placeholder="Senha">
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div class="row padding-div">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a href="..." class="botao2 d-block">Fazer Login</a>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <span class="formatar-p">Esqueceu sua senha? <a class="formatar-p" href="/login">Clique aqui</a></span>
        </div>
        <div class="col-sm-4"></div>
    </div>

</div>