<style>
	.input-custom {
		width: 100%;
		max-width: 100%;
		padding: 5px;
		border: 2px solid #ddd;
		border-radius: 20px;
		outline: none;
		font-size: 12px;
		color: #aaa;
	  }
	  .input-custom:focus {
		border-color: #ccc;
	  }
	  .input-custom::placeholder {
		color: #ddd;
	  }
	
	.padding-div {
		padding: 12px 0px 0px 0px;
	}

	.botao-login {
		color: white;
		background-color:#a844fc;
		border: 2px solid;
		padding: 5px;
		border-radius: 20px;
		max-width: 100%;
		font-size: 15px;
		text-decoration: none;
		outline: none;
		font-weight: bold;
		margin: 5px auto 0px auto;
	}

	.titulo-login {
		font-weight: bold;
		padding: 15px 0px 3px 0px;
		font-size: 30px;
	}

	.formatar-p {
		font-size: 10px;
		color: gray;
		font-weight: bold;
	}
    .centro{
        text-align: center;
    }

	.direita{
		text-align: right;
	}

	.margeme{
		padding: 0px 80px 0px 0px;
	}
	
	.esqueceu{
		margin: 0 auto;
		max-width: 100%;
	}
</style>


<div class="container-fluid centro">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">

			<h1 class="titulo-login">
				Login
			</h1>

			<div class="padding-div">
				<input type="email" class="input-custom" placeholder="Email">
			</div>
		
			<div class="padding-div">
				<input type="text" class="input-custom" placeholder="Senha">
			</div>
		
			<div class="esqueceu direita">
				<a class="formatar-p" href="/cadastro">Esqueceu a senha?</a>
			</div>
		
			<div class="padding-div">
				<a href="/" class="botao-login d-block">Fazer Login</a>
			</div>
		
			<div>
				<span class="formatar-p">Não possui cadastro? <a class="formatar-p" href="/cadastro">Cadastre-se</a></span>
			</div>
			
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>