<div class="container-fluid">

	<h1>
		Login
	</h1>
    
    <div>
        <div class="mb-3">
            <label class="form-label" for="email"> Login </label>
            <input maxlength="50" id="email" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label" for="senha"> Senha </label>
            <input maxlength="50" id="senha" class="form-control" />
            <p> esqueci minha senha</p>
        </div>

        <div>
        <h3>
            Fazer Login
        </h3>
        <p>
            não possui login? faça o cadastro
        </p>
        </div>
    </div>

    <script>

    </script>

</div>