<style>
	.category-tabs {
		display: flex;
		justify-content: center;
		gap: 15px;
		margin-bottom: 20px;
	}
	.category-tab {
		padding: 10px 20px;
		border-radius: 25px;
		border: 2px solid #a844fc;
		color: #a844fc;
		font-weight: bold;
		cursor: pointer;
		text-align: center;
		transition: background-color 0.3s, color 0.3s;
		background-color: #ffff;
	}
	.category-tab:hover {
		background-color: #a844fc;
		color: white;
	}

	.Borda-Box-Img {
		border: 2px solid #a844fc;
		border-radius: 15px;
		overflow: hidden;
		transition: transform 0.3s;
		min-height: 100%;
	}
	.Borda-Box-Img:hover {
		transform: scale(1.05);
	}
	.Borda-Box-Img img {
		width: 100%;
		height: auto;
	}
	.PDG-nmtr {
		padding: 10px;
		color: #a844fc;
	}
	.PDG-detalhes {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
		color: #a844fc;
	}
</style>

<div class="container-fluid">
	<h1 class="titulo">Procurar Treinos</h1>

	<div class="category-tabs">
		<button type="button" class="category-tab" onclick="listarTudo()">Todos</button>
		<button type="button" class="category-tab" onclick="listarCal()">Calistenia</button>
		<button type="button" class="category-tab" onclick="listarAlo()">Alongamentos</button>
		<button type="button" class="category-tab" onclick="listarMus()">Musculação</button>
	</div>

	<div class="row">
		<% for (let i = 0; i < treinos.length; i++) { %>
			<div class="col-md-4 pb-3">
				<div class="Borda-Box-Img">
					<img class="" src="/public/img/treino<%= treinos[i].imagem %>.jpg" alt="Imagem do treino" />
					<div class="PDG-nmtr">
						<div class="PDG-detalhes">
							<span><%= Math.floor(Math.random() * (99 - 10) + 10)/10 %>K ★</span>
							<span><%= treinos[i].tipo %></span>
						</div>
						<h5><%= treinos[i].nome %></h5>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</div>

<script>
</script>