<div>
    <p>Informações</p>
</div>

    <p> 
    Nosso projeto se iniciou com a ideia de incentivar atividades físicas e celebrar as diferenças entre práticas variadas de exercícios, 
    e isso evoluiu para criar uma plataforma de treinos personalizados e acessíveis.
    </p>

    <p>
    Para isso, realizamos diversas pesquisas sobre o que nosso público-alvo procura e sente falta neste mercado. 
    E estes dados nos permitiram entender as necessidades e dificuldades das pessoas, com a finalidade de proporcionar o que elas procuram. 
    Veja os resultados que alcançamos:
    </p>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">
            <p>Neste primeiro destaque, a pergunta teve o intuito de entender a distribuição de atividades físicas praticadas pelas pessoas. 
                O resultado é uma grande maioria praticante de musculação e esportes no geral, seguidos de longe de aeróbicos. 
                Provavelmente porque esportes são comumente praticados por pessoas de diversas idades, e musculação está em uma grande alta, 
                e é mais acessível para quem está iniciando em atividades físicas.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/public/img/GRAFICO1.png">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>No segundo destaque, a pergunta teve a intenção de descobrir o que faz as pessoas exercerem as atividades físicas, 
                para sabermos quais são suas preferências, pois cada atividade tem sua finalidade final. 
                Esses resultados estão relacionados com as atividades físicas praticadas pelas pessoas.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/public/img/GRAFICO4.png" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>Por fim, o terceiro destaque, e sua pergunta teve o intuito de descobrir quais problemas mais afetam negativamente 
                a prática de exercícios físicos na vida das pessoas, e trouxemos o resultado da variável que mais atrapalha, o tempo.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/public/img/GRAFICO2.png" alt="">
        </div>
    </div>
</div>