<div>
    <p>Informações</p>
</div>

<p> STORYTELLING </p>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">
            <p>Textp gráfico 1</p>
        </div>
        <div class="col-sm-6">
            <p>Foto gráfico 1</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>Texto gráfico 2</p>
        </div>
        <div class="col-sm-6">
            <p>foto gráfico 2</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>TEXTO GRÁFICO 3</p>
        </div>
        <div class="col-sm-6">
            <p>Gráfico 3</p>
        </div>
    </div>

    <p> explicação final </p>

</div>